
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');

body {
  font-family: 'Montserrat';
}





/*--- Index ---*/

.carousel-images {
  padding-top: 10px;
  
}

.widget-about figure.author-figure img {
  border-radius: 50%;
}







/*--- Recipes ---*/

.recipe-layout {
  box-sizing: border-box;
}

.info li {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 5px;
}



img {
  max-width: 100%;
  height: auto;
}

i {
  color: rgb(202, 29, 29);
  font-size: 15px;
}


.jumbotron {
  background-color: rgba(255, 74, 82, 0.97);
  opacity: .9;
  box-shadow: 1rem;
}



/*-- Add recipe --*/


.container-add {
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  padding: 1rem;
}



/*--- View Recipe ---*/

.list-group-info {
  padding-top: 1rem; 
}

.action-item {
  margin-bottom: 5px;
}
.action-item li {
  display: inline-block;
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid #d5d5d5;
  line-height: 1;
  margin-bottom: 5px;
}

.action-item li button {
  background: transparent;
  border: 0;
  cursor: pointer;
  color: #a8a8a8;
  font-size: 24px;
  padding: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
