{% extends 'base.html' %} {% block content %}

<div class="jumbotron jumbotron-add jumbotron-fluid">
  <div class="container">
    <h1 class="text-center">Edit Recipe</h1>
  </div>
</div>



<div class="container container-add">
  <form action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" method="POST">

    <!-- Recipe Name -->
    <div class="form-group">
      <label for="recipe_name">
        <b>Recipe Name</b>
      </label>
      <input value="{{ recipe.recipe_name }}" id="recipe_name" name="recipe_name" type="text"
        placeholder="Name your dish" required="required" class="form-control">
    </div>

    <!-- Recipe Description -->
    <div class="form-group">
      <label for="recipe_description">
        <b>Short Description</b>
      </label>
      <input value="{{ recipe.recipe_description }}" id="recipe_description" name="recipe_description" type="text"
        placeholder="Sum up your recipe in a line" required="required" class="form-control">
    </div>

    <!-- Preperation Time -->
    <div class="form-group">
      <label for="recipe_prep">
        <b>Preperation Time</b>
      </label>
      <input value="{{ recipe.recipe_prep }}" id="recipe_prep" name="recipe_prep" type="text"
        placeholder="Time taken to prepare" required="required" class="form-control">
    </div>

    <!-- Cooking Time -->
    <div class="form-group">
      <label for="recipe_cook">
        <b>Cooking Time</b>
      </label>
      <input value="{{ recipe.recipe_cook }}" id="recipe_cook" name="recipe_cook" type="text"
        placeholder="Time taken to cook" required="required" class="form-control">
    </div>

    <!-- Serving Size -->
    <div class="form-group">
      <label for="recipe_serving">
        <b>Serves</b>
      </label>
      <input value="{{ recipe.recipe_serving }}" id="recipe_serving" name="recipe_serving" type="text"
        placeholder="Number of people it serves" required="required" class="form-control">
    </div>

    <!-- Recipe Image -->
    <div class="form-group">
      <label for="recipe_image">
        <b>Recipe Image</b>
      </label>
      <input value="{{ recipe.recipe_image }}" id="recipe_image" name="recipe_image" type="text"
        placeholder="Add your URL here" required="required" class="form-control">
    </div>

    <!-- Recipe Ingredients -->
    <div class="form-group">
      <label for="recipe_ingredients">
        <b>Recipe Ingredients</b>
      </label>
      <div class="new-ingredient ingredient">
        {% for ingredient in recipe.recipe_ingredients %}
        <textarea id="recipe_ingredients" name="recipe_ingredients" cols="40" rows="1" class="form-control"
          required="required" aria-describedby="textareaHelpBlock"
          placeholder="One Ingredient per line">{{ ingredient }}</textarea>
        {% endfor %}
      </div>

    </div>

    <!-- Add Next Ingredient-->
    <button type="button" class="add-ingredient btn btn-success btn-recipes">
      Add
    </button>

    <!-- Remove Last Ingredient -->
    <button type="button" class="remove-ingredient btn btn-danger btn-recipes">
      Remove
    </button>

    <!-- Recipe Method -->
    <div class="form-group">
      <label for="recipe_method">
        <b>Recipe Instructions</b>
      </label>
      <div class="new-method method">
        {% for method in recipe.recipe_method %}
        <textarea id="recipe_method" name="recipe_method" cols="40" rows="3" class="form-control" required="required"
          aria-describedby="textareaHelpBlock" placeholder="One step per line">{{ method }}</textarea>
        {% endfor %}
      </div>
    </div>
    <!-- Add Next Step -->
    <button type="button" class="add-method btn btn-success btn-recipes">
      Add
    </button>

    <!-- Remove Last Step -->
    <button type="button" class="remove-method btn btn-danger btn-recipes ">
      Remove
    </button>


    <!-- Recipe Category -->
    <div class="form-group row">
      <div class="col-md-6">
        <label for="recipe_category">
          <b>Category</b>
        </label>
        <select id="recipe_category" name="recipe_cat" class="form-control">
          <option selected>Choose...</option>
          {% for cat in categories %}
          {% if cat.recipe_category == recipe.recipe_cat %}
          <option value="{{cat.recipe_category}}">{{cat.recipe_category}}</option>
          {% else %}
          <option value="{{cat.recipe_category}}">{{cat.recipe_category}}</option>
          {% endif %}
          {% endfor %}
        </select>
      </div>


      <!-- Recipe Difficulty -->
      <div class="col-md-6">
        <label for="recipe_difficulty">
          <b>Difficulty</b>
        </label>
        <select id="recipe_difficulty" name="recipe_dif" class="form-control">
          <option selected>Choose...</option>
          {% for dif in difficulty %}
          {% if dif.recipe_difficulty == recipe.recipe_dif %}
          <option value="{{dif.recipe_difficulty}}">{{dif.recipe_difficulty}}</option>
          {% else %}
          <option value="{{dif.recipe_difficulty}}">{{dif.recipe_difficulty}}</option>
          {% endif %}
          {% endfor %}
        </select>
      </div>
    </div>

    <!-- Recipe Author -->
    <div class="form-group">
      <label for="recipe_author">
        <b>Recipe Author</b>
      </label>
      <input value="{{ recipe.recipe_author }}" id="recipe_author" name="recipe_author" type="text" required="required"
        class="form-control">
    </div>

    <!-- Update Recipe Button -->
    <div class="form-group text-center">
      <button class="btn btn-primary btn-cancel btn-recipe" type="reset" onclick="history.go(-1)">Cancel</button>
      <button type="submit" class="btn btn-success btn-recipe">Update Recipe</button>

    </div>


  </form>
</div>



{% endblock %}